body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#HurricaneMap {
    width: 100%;
    height: 400px;
}

#HurricaneList div[name=body] select {
    width: 20em;
    height: 10em;
}

.atlantic {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.pacific {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
